<div class="row">
	<h1 class="text-center">Edit Review</h1>
	<div class="col-6 offset-3">
		<form
			action="/spots/{{spotId}}/reviews/{{review._id}}/edit?_method=PUT"
			method="POST"
			novalidate
			class="validated_form"
		>
			<fieldset class="starability-heart mb-3">
				<legend>First rating:</legend>
				<input
					type="radio"
					id="no-rate"
					class="input-no-rate"
					name="review[rating]"
					value="{{review.rating}}"
					checked
					aria-label="No review."
				/>
				<input type="radio" id="first-rate1" name="review[rating]" value="1" />
				<label for="first-rate1" title="Terrible">1 star</label>
				<input type="radio" id="first-rate2" name="review[rating]" value="2" />
				<label for="first-rate2" title="Not good">2 stars</label>
				<input type="radio" id="first-rate3" name="review[rating]" value="3" />
				<label for="first-rate3" title="Average">3 stars</label>
				<input type="radio" id="first-rate4" name="review[rating]" value="4" />
				<label for="first-rate4" title="Very good">4 stars</label>
				<input type="radio" id="first-rate5" name="review[rating]" value="5" />
				<label for="first-rate5" title="Amazing">5 stars</label>
			</fieldset>
			{{!-- <section class="mb-3">
				<label for="rating" class="form-label">Rating</label>
				<input
					aria-label="range input for rating"
					type="range"
					min="0"
					max="5"
					step="1"
					class="form-range"
					id="rating"
					name="review[rating]"
					value="{{review.rating}}"
				/>
			</section> --}}
			<section class="mb-3">
				<label class="form-label" for="body">Notes</label>
				<textarea
					class="form-control"
					name="review[body]"
					id="body"
					cols="30"
					rows="2"
					required
				>{{review.body}}</textarea>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please add a review.
				</div>
			</section>
			<div>
				<button class="btn btn-info">Submit</button>
			</div>
		</form>
	</div>
</div>