<div class="row">
	<h1 class="text-center">Edit Spot</h1>
	<div class="col-6 offset-3">
		<form
			action="edit?_method=PUT"
			method="POST"
			novalidate
			class="validated_form"
			enctype="multipart/form-data"
		>
			<div class="mb-3">
				<label class="form-label" for="name">Name</label>
				<input
					class="form-control"
					type="text"
					id="name"
					name="spot[name]"
					value="{{spot.name}}"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please name your spot (-_-｡)
				</div>
			</div>
			<section class="card-body">
				<h4>How kid friendly is this spot?</h4>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="hasChangeTable" {{#ifEquals spot.hasChangeTable 'Yes'}} checked {{/ifEquals}}/>
					<input
						class="form-check-input"
						type="hidden"
						id="hiddenHasChangeTable"
						name="spot[hasChangeTable]"
						value="{{spot.hasChangeTable}}"
					/>
					<label class="form-check-label" for="hasChangeTable">Change Table</label>
				</div>
				<div class="form-check form-check-inline">
					<input
						class="form-check-input"
						type="checkbox"
						id="hasPublicToilet"
						{{#ifEquals spot.hasPublicToilet 'Yes'}} checked {{/ifEquals}}
					/>
					<input
						class="form-check-input"
						type="hidden"
						id="hiddenHasPublicToilet"
						name="spot[hasPublicToilet]"
						value="{{spot.hasPublicToilet}}"
					/>
					<label class="form-check-label" for="hasPublicToilet">Public Toilet</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="hasHighChairs" {{#ifEquals spot.hasHighChairs 'Yes'}} checked {{/ifEquals}}/>
					<input
						class="form-check-input"
						type="hidden"
						id="hiddenHasHighChairs"
						name="spot[hasHighChairs]"
						value="{{spot.hasHighChairs}}"
					/>
					<label class="form-check-label" for="hasHighChairs">High Chairs</label>
				</div>
			</section>
			<section class="card-body">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="hasKidsMenu" {{#ifEquals spot.hasKidsMenu 'Yes'}} checked {{/ifEquals}}/>
					<input
						class="form-check-input"
						type="hidden"
						id="hiddenHasKidsMenu"
						name="spot[hasKidsMenu]"
						value="{{spot.hasKidsMenu}}"
					/>
					<label class="form-check-label" for="hasKidsMenu">Kids Menu</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="hasBabyccinos" {{#ifEquals spot.hasBabyccinos 'Yes'}} checked {{/ifEquals}}/>
					<input
						class="form-check-input"
						type="hidden"
						id="hiddenHasBabyccinos"
						name="spot[hasBabyccinos]"
						value="{{spot.hasBabyccinos}}"
					/>
					<label class="form-check-label" for="hasBabyccinos">Babyccinos</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="hasToys" {{#ifEquals spot.hasToys 'Yes'}} checked {{/ifEquals}}/>
					<input
						class="form-check-input"
						type="hidden"
						id="hiddenHasToys"
						name="spot[hasToys]"
						value="{{spot.hasToys}}"
					/>
					<label class="form-check-label" for="hasToys">Toys</label>
				</div>
			</section>
			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					id="location"
					name="spot[location]"
					value="{{spot.location}}"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please add a location (-_-｡)
				</div>
			</div>
			<div class="mb-3">
				<div class="form-file custom-file">
					<input
						type="file"
						class="form-file-input"
						id="image"
						name="image"
						multiple
					/>
					<label class="form-file-label" for="image">
						<span class="form-file-text custom-file-label">Add image(s)...</span>
						<span class="form-file-button">Browse</span>
					</label>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					type="text"
					id="description"
					name="spot[description]"
					required
				>{{spot.description}}</textarea>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please give a description (-_-｡)
				</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-info">Update spot</button>
				<a class="btn btn-outline-secondary" href="/spots/{{spot._id}}">Back to
					Spot</a>
			</div>
		</form>
	</div>
</div>
<script src="/js/events.js"></script>