    <div class="row">
        <h1 class="text-center">Edit Spot</h1>
        <div class="col-6 offset-3">
            <form action="edit?_method=PUT" method="POST" novalidate class="validated_form">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" value="{{ spot.name }}" required>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                    <div class="invalid-feedback">
                    Please name your spot (-_-｡)
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="location" value="{{ spot.location }}" required>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                    <div class="invalid-feedback">
                    Please add a location (-_-｡)
                    </div>       
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input class="form-control" type="text" id="image" name="image" value="{{ spot.image }}" required>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                    <div class="invalid-feedback">
                    Please add an image (-_-｡)
                    </div> 
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="description" required>{{ spot.description }}</textarea>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                    <div class="invalid-feedback">
                    Please give a description (-_-｡)
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update spot</button>
                    <a class="btn btn-outline-secondary" href="/spots/{{ spot._id }}">Back to Spot</a>
                </div>
            </form>
        </div>
    </div>