<article class="row justify-content-center">
	<h1 class="text-center">Edit Spot</h1>
	<section class="col-10 col-md-6">
		<form
			action="edit?_method=PUT"
			method="POST"
			novalidate
			class="validated_form"
			enctype="multipart/form-data"
		>
			<section class="mb-3">
				<label class="form-label" for="name">Name</label>
				<input
					class="form-control"
					type="text"
					id="name"
					name="spot[name]"
					value="{{spot.name}}"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please name your spot (-_-｡)
				</div>
			</section>
			<article>
				<h5 class="card-title">How kid friendly is this spot?</h5>
				<section class="card-body">
					<section class="form-check form-check-inline">
						<input class="form-check-input checky" type="checkbox" id="hasChangeTable" {{#ifEquals spot.hasChangeTable true}} checked {{/ifEquals}}/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasChangeTable"
							name="spot[hasChangeTable]"
							value="{{spot.hasChangeTable}}"
						/>
						<label class="form-check-label" for="hasChangeTable">Change Table</label>
					</section>
					<section class="form-check form-check-inline">
						<input
							class="form-check-input checky"
							type="checkbox"
							id="hasPublicToilet"
							{{#ifEquals spot.hasPublicToilet true}} checked {{/ifEquals}}
						/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasPublicToilet"
							name="spot[hasPublicToilet]"
							value="{{spot.hasPublicToilet}}"
						/>
						<label class="form-check-label" for="hasPublicToilet">Public Toilet</label>
					</section>
					<section class="form-check form-check-inline">
						<input class="form-check-input checky" type="checkbox" id="hasHighChairs" {{#ifEquals spot.hasHighChairs true}} checked {{/ifEquals}}/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasHighChairs"
							name="spot[hasHighChairs]"
							value="{{spot.hasHighChairs}}"
						/>
						<label class="form-check-label" for="hasHighChairs">High Chairs</label>
					</section>
				</section>
				<section class="card-body">
					<section class="form-check form-check-inline">
						<input class="form-check-input checky" type="checkbox" id="hasKidsMenu" {{#ifEquals spot.hasKidsMenu true}} checked {{/ifEquals}}/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasKidsMenu"
							name="spot[hasKidsMenu]"
							value="{{spot.hasKidsMenu}}"
						/>
						<label class="form-check-label" for="hasKidsMenu">Kids Menu</label>
					</section>
					<section class="form-check form-check-inline">
						<input class="form-check-input checky" type="checkbox" id="hasBabyccinos" {{#ifEquals spot.hasBabyccinos true}} checked {{/ifEquals}}/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasBabyccinos"
							name="spot[hasBabyccinos]"
							value="{{spot.hasBabyccinos}}"
						/>
						<label class="form-check-label" for="hasBabyccinos">Babyccinos</label>
					</section>
					<section class="form-check form-check-inline">
						<input class="form-check-input checky" type="checkbox" id="hasToys" {{#ifEquals spot.hasToys true}} checked {{/ifEquals}}/>
						<input
							class="form-check-input"
							type="hidden"
							id="hiddenHasToys"
							name="spot[hasToys]"
							value="{{spot.hasToys}}"
						/>
						<label class="form-check-label" for="hasToys">Toys</label>
					</section>
				</section>
			</article>
			<section class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					id="location"
					name="spot[location]"
					value="{{spot.location}}"
					required
				/>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please add a location (-_-｡)
				</div>
			</section>
			<section class="mb-3">
				<div class="form-file custom-file">
					<input
						type="file"
						class="form-file-input"
						id="image"
						name="image"
						multiple
					/>
					<label class="form-file-label" for="image">
						<span class="form-file-text custom-file-label">Add image(s)...</span>
						<span class="form-file-button">Browse</span>
					</label>
				</div>
			</section>
			<section class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					type="text"
					id="description"
					name="spot[description]"
					required
				>{{spot.description}}</textarea>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please give a description (-_-｡)
				</div>
			</section>
			<div class="mb-3 d-flex justify-content-between">
				<button class="btn btn_purple">Update spot</button>
				<a class="generic_link mt-1" href="/spots/{{spot.slug}}/{{spot._id}}"><strong>↶</strong> Back to
					Spot</a>
			</div>
		</form>
	</section>
</article>
<script src="/js/events.js"></script>